@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: balance;
}

.fade-enter {
    opacity: 0;
transform: translateX(-100%);}

.fade-exit {
    opacity: 0;
    transform: translateX(0%);
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms;
}
/* aaa */

*::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar handle when hovered */
}
/* for trend movie */
 .scrollbar-thin::-webkit-scrollbar {
     height: 5px;
     border-radius: 100%;
     cursor: pointer;
 }

 /* Adjust scrollbar track color */
 .scrollbar-thin::-webkit-scrollbar-track {
     background: #f1f1f1;
 }

 /* Adjust scrollbar thumb color */
 .scrollbar-thin::-webkit-scrollbar-thumb {
     background: rgb(83, 83, 196);
     border-radius: 2px;
 }

 /* Adjust scrollbar thumb color on hover */
 .scrollbar-thin::-webkit-scrollbar-thumb:hover {
     background: rgb(32, 32, 155);
 }