@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms;
}

/* scroll bar style */

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: gray;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 196);
    border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgb(32, 32, 155);
}

.right::-webkit-scrollbar {
    width: 0;
}

.right::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.right::-webkit-scrollbar-thumb {
    background: #888;
}

.right::-webkit-scrollbar-thumb:hover {
    background: #555;
}